<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="app/styles/bootstrap.min.css">
	<script type="text/javascript" src="app/lib/angular.js"></script>
	<script type="text/javascript" src="app/lib/angular-route.min.js"></script>
	<title>SPA Demo...</title>
</head>
<body class="container">
	<h4>Happiest Minds, India</h4>
	<section ng-view class="panel panel-body panel-default">
		
	</section>
	<footer class="well">
			<strong>Copyright &copy; MyCompany Pvt Ltd.. All rights reserved 2015-16.</strong>
	</footer>
</body>
</html>